<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manager.mag.dao.procurementMapper">
    <resultMap id="BaseResultMap" type="com.manager.mag.vo.procurement">
        <id column="iD" property="id" jdbcType="INTEGER"/>
        <result column="Device_name" property="deviceName" jdbcType="VARCHAR"/>
        <result column="Model" property="model" jdbcType="VARCHAR"/>
        <result column="Number_of_devices" property="numberOfDevices" jdbcType="INTEGER"/>
        <result column="statu" property="statu" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select *
        from procurement
        where iD = #{id,jdbcType=INTEGER}
    </select>


    <select id="selectByParams" parameterType="com.manager.mag.Query.ProcurementQuery"
            resultType="com.manager.mag.vo.procurement">
        select *
        from procurement
        <where>
            <if test="DeviceName != null and DeviceName !=''">
                Device_name like concat('%',#{DeviceName},'%')
            </if>
            <if test="Model != null and Model != '' ">
                and Model = #{Model}
            </if>
            <if test="isSelected != null">
                and statu = #{isSelected}
            </if>
        </where>
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from procurement
        where iD = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteBatch">
        delete from procurement
        where iD in
        <foreach collection="array" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteALL">
        delete
        from procurement
        where 1 = 1
    </delete>

    <insert id="insert" parameterType="com.manager.mag.vo.procurement">
        insert into procurement (iD, Device_name, Model,
                                 Number_of_devices, statu)
        values (#{id,jdbcType=INTEGER}, #{deviceName,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR},
                #{numberOfDevices,jdbcType=INTEGER}, #{statu,jdbcType=INTEGER})
    </insert>

    <insert id="insertSelective" parameterType="com.manager.mag.vo.procurement">
        insert into procurement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceName != null">
                Device_name,
            </if>
            <if test="model != null">
                Model,
            </if>
            <if test="numberOfDevices != null">
                Number_of_devices,
            </if>
            <if test="statu != null">
                statu,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="deviceName != null">
                #{deviceName,jdbcType=VARCHAR},
            </if>
            <if test="model != null">
                #{model,jdbcType=VARCHAR},
            </if>
            <if test="numberOfDevices != null">
                #{numberOfDevices,jdbcType=INTEGER},
            </if>
            <if test="statu != null">
                #{statu,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <!--    清空之后的复制-->
    <insert id="InsertStat0">
        insert into procurement(device_name, model, number_of_devices, id, statu)
            (select Device_name, Model, Number_of_devices, id, statu
             from alliteam
             where statu = 0)
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.manager.mag.vo.procurement">
        update procurement
        <set>
            <if test="deviceName != null">
                Device_name = #{deviceName,jdbcType=VARCHAR},
            </if>
            <if test="model != null">
                Model = #{model,jdbcType=VARCHAR},
            </if>
            <if test="numberOfDevices != null">
                Number_of_devices = #{numberOfDevices,jdbcType=INTEGER},
            </if>
            <if test="statu != null">
                statu = #{statu,jdbcType=INTEGER},
            </if>
        </set>
        where iD = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.manager.mag.vo.procurement">
        update procurement
        set Device_name       = #{deviceName,jdbcType=VARCHAR},
            Model             = #{model,jdbcType=VARCHAR},
            Number_of_devices = #{numberOfDevices,jdbcType=INTEGER},
            statu             = #{statu,jdbcType=INTEGER}
        where iD = #{id,jdbcType=INTEGER}
    </update>

</mapper>